<%- include("./partials/header") -%>
<h1>Home</h1>
<p><%= homeContent %></p>

<% for(let x=0; x< blogs.length; x++){ %>
<h2><%= blogs[x].postTitle; %></h2>
<p><%= blogs[x].postBody; %></p>
<% } %>

<%- include("./partials/footer") -%>